  Local .terraform directories
**/.terraform/*

# Compiled files
*.tfstate
*.tfstate.*

# Module directory in any sub-folder
**/.terraform

# State file in any sub-folder
**/terraform.tfstate
**/terraform.tfstate.backup
*.tfstate.lock.info

# Terraform Variables
#*.tfvars
*.terraform.lock.hcl

# Ignored Terraform files
*gitignore*.tf
#*backend*.tf

# SSH Keys
*.pem

*.DS_Store
*.vagrant

# Generated private key
*.key%